<div
  class="static z-30 w-64 overflow-y-auto bg-gray-900">
  <div class="flex items-center justify-center mt-8">
    <div class="flex items-center">
      <span class="mx-2 text-2xl font-semibold text-white">Admin</span>
    </div>
  </div>
  <nav class="mt-10">
    {% for item in admin_menu_items %}
      <a
        aria-current="page"
        class="flex items-center px-6 py-2 mt-4 border-l-4 border-gray-100 {% if item.active %}bg-gray-100 text-gray-800{% else %}bg-gray-600 text-gray-100 bg-opacity-25{% endif %}"
        {% for attribute in item.link_attributes %}
          {{ attribute[0] }}="{{ attribute[1] }}"
        {% endfor %}
      >
        <span class="mx-4">{{item.title}}</span>
      </a>
    {% endfor %}
    </nav>
</div>
