{% liquid
  function hook_admin_analytics_widgets = 'modules/core/commands/hook/fire', hook: 'analytics_widget'
  assign params_to_modify = null | hash_merge: analytics_widgets: hook_admin_analytics_widgets
  function _ = 'modules/core/commands/hook/alter', hook: 'analytics_widgets', params_to_modify: params_to_modify

  assign analytics_widgets = params_to_modify.analytics_widgets | array_sort_by: 'weight'
%}

<section class="container flex md:flex-row flex-wrap gap-6">
  {% liquid
    for widget in analytics_widgets
      hash_assign widget['permission'] = widget.permission | default: 'admin.analytics.view'
      function can_view_widget = 'modules/permission/lib/helpers/can_do', requester: context.exports.current_profile, do: widget.permission, entity: widget, access_callback: widget.access_callback
      if widget.content and can_view_widget
        print widget.content
      endif
    endfor
  %}
</section>
